


.contenedor {
    font-family: Arial;
    text-align: left;
    color: black;
    font-size: 1em;
    margin: 5%;
    max-width: 15em;
    border: solid;
    border-color: grey;
    border-width: 4px;
    padding: 2em;
    

}




@media (min-width: 1024px) {

   
}

@media (max-width: 1023px) and (min-width: 768px) {

    
}



@media (min-width: 320px) and (max-width: 767px) {


}